@font-face {
  font-family: 'iconfont';
  src: url('./assets/iconfont.ttf') format('truetype');
}

.icon {
  font-family: 'iconfont';
  font-size: 30px;
}

.hello {
  color: red;
}

.block-bg {
  background-image: url(./assets/1.svg) !important;
}